$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	padding-bottom: 10px;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	text-transform: uppercase;
	margin-top: 50px;
	
	.sw {
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

.footer-blocks {
	margin: 30px 0;
	@include display( flex );
	@include justify-content( space-between );
}

.footer-block {
	padding: 0 20px;
}

.footer-nav {
	border-right: 1px solid rgba(0,0,0,0.4);
	ul { 
		overflow: hidden; 
		margin: 0 0 10px;
	}
	li {
		float: left;
		width: 50%;
		min-width: 120px;
		a {
			display: block;
			padding: 8px;
			border-radius: 4px;
			font-size: 14px;
			text-transform: uppercase;
			&:hover {
				background: $primaryColor;
			}
		}
	}
}

.footer-block {
	@include flex( 2 1 auto );
}

.footer-nav,
.footer-contact {
	@include flex( 1 2 350px );
}

.footer-contact {
	border-left: 1px solid rgba(0,0,0,0.4);
	@include display( flex );
	@include align-items( center );
	&>div {
		@include flex( 1 1 auto );
		font-size: 14px;
	}
	
	.address-phone {
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		line-height: 1.8;
		margin: 0 0 10px;
	}
	
	.logo {
		display: block;
		@include flex( 0 0 70px );
		margin-left: 40px;
		padding: 10px;
	}
}

.footer-claim-wrap {
	@include display( flex );
	@include align-items( center );
	margin: 0 auto;
	
}

.footer-make-claim {
	@include display( flex );
	@include flex( 1 1 auto );
	max-width: 600px;
	margin: 0 auto;
	.lazybg {
		@include flex( 0 0 280px );
		margin-right: 20px;
	}
	
	.text {
		font-size: 18px;
		display: block;
		margin: 0 0 8px;
	}
}

.copyright {
	padding: 15px 0;
	border-top: 1px solid rgba(0,0,0,0.4);
}

@media screen and (max-width: 1100px) {
	.footer-blocks {
		@include flex-flow( row wrap );
	}
	
	.footer-block {
		border: none !important;
	}
	
	.footer-claim-wrap {
		@include order(-1);
		@include flex( 0 0 100% );
		padding: 20px 0 40px;
	}
}

@media screen and (max-width: 750px) {
	.footer-block {
		@include flex( 0 0 100% );
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.footer-contact {
		@include justify-content( space-between );
		&>div { @include flex( 0 0 auto ); }
		.address-phone {
			@include justify-content( flex-start );
			address { margin-right: 20px; }
		}
	}
	
	.footer-make-claim {
		display: block;
		text-align: center;
		max-width: 95%;
		
		.lazybg {
			display: none;
		}
	}
}

@media screen and (max-width: 400px) {
	.footer-contact {
		display: block;
		
		.logo {
			width: 110px;
			margin: 20px auto;
		}
	}
}