.primary-bg {
	background: $primaryColor;
}

.grey-bg {
	background: #eee;
}

.fader-wrap { position:relative; }
.fader { margin-bottom:0; }
.fader-item {
	position: relative;
	opacity:0;
	background: center no-repeat;
	background-size: cover;
	@include transition( 0.3s opacity $ease-in-out-sine );
	&.loaded { opacity:1; }
}

.hero .fader-item {
	background: #fff;
	@include display( flex );
}

.get-a-quote-wrap {
	max-width: 95%;
	position: absolute;
	top:0; left:0; right:0;
	margin: 0 auto;
	height: 100vh;
	min-height: 550px;
	max-height: 900px;
	padding-top: $headerHeight + $navTopHeight;
	@include display( flex );
	@include justify-content( flex-end );
	@include align-items( center );	
}

.quote-title {
	display: block;
	font-size: 32px;
	font-weight: 600;
	width: 300px;
	line-height:1;
	margin: 0 0 5px;
}

.quote-subtitle {
	display: block;
	font-size: 22px;
	margin: 0 0 5px;
}

.quote-modal.button {
	padding-right: 40px;
	text-align: left;
	border-radius:0;
	text-indent:0 !important;
	display: none;
	&:before {
		font-size: 36px;
		right:10px;
		left: auto;
	}
	
	.quote-title,
	.quote-subtitle { width: auto; }
	
}

.get-a-quote {
	position: relative;
	padding: 40px 30px;
	max-width: 450px;
	background: $primaryColor;
	margin: 20px 0;
	
	.mfp-close {
		position: absolute;
		top: 10px; right: 10px;
		width: 32px; height: 32px;
		color: #fff;
		cursor: pointer;
	}
	.mfp-content & {
		margin: 20px auto;
	}
	
	.selector {
		display: none;
		background: $secondaryColor;
		.value { 
			font-weight:normal;
			text-transform: none; 
		}
	}
	
	.buttons {
		@include display( flex );
		margin: 10px 0 5px;
		span {
			cursor: pointer;
			flex: 1 1 auto;
			margin-left: 5px;
			width: 100px;
			border: none;
			padding: 25px 5px;
			text-transform: uppercase;
			background: #fff; 
			font-size: 12px;
			font-weight: 600;
			color: $secondaryColor;
			text-align: center;
			&:first-child { margin:0; }
			&:before { 
				display: block;
				font-size: 24px; 
				margin-bottom: 5px;
			}
			&.selected,
			&:hover {
				background: $secondaryColor;
				color: #fff;
			}
		}
	}
	
	input {
		margin: 0 0 5px;
		padding: 10px;
		display: block;
		width: 100%;
		border: 2px solid #fff;
	}
	
	button {
		border-radius:0;
		width: 100%;
	}
	
}

@media screen and (max-width: 650px) {

	.get-a-quote { 
		padding: 20px; 
		.buttons { display: none; }
		.selector { display: block; }
	}
	
	.quote-title { font-size: 24px; }
	.quote-subtitle { font-size: 16px; }
}

.quote-modal.button { display: none; }
/* on short screens, take the "get-a-quote" form out of the hero */
@media screen and (max-height: 625px), screen and (max-width: 750px) {

	.body {
		@include display( flex );
		@include flex-flow( column );
	}

	.get-a-quote-wrap { display: none; }
	.quote-modal.button { 
		display: block; 
		@include order( 2 );
		.home & { @include order( -1 ); }
	}
	
}


@media screen and (max-width: $collapseNavAt) {
	.hero .fader-item {
		display: block;
		
		&.with-content {
			max-height: none;		
			.fader-item-bg {
				height: 400px;
				position: static;
			}
		}
	}
	
}


/* fast fact */
.fast-fact { 
	@include display( flex );
	background: #fafafa;
	
	.title {
		background: $primaryColor;
		color: #fff;
		padding: 30px;
		@include flex( 0 0 auto );
		@include display( flex );
		@include align-items( center );
		text-transform: uppercase;
		position: relative;
		
		&:after {
			content:"";
			position: absolute;
			left: 100%;
			top: 50%;
			width:0; height:0;
			margin-top: -16px;
			border: 16px solid transparent;
			border-left-color: $primaryColor;
		}
		
	}
	
	div {
		@include display( flex );
		@include align-items( center );
		font-size: 20px;
		padding: 50px;
		color: $primaryColor;
	}
	
	@media screen and (max-width: 750px) {
		display: block;
		
		.title {
			text-align: center;
			display: block;
			&:after {
				left:0; right:0; margin: 0 auto;
				top: 100%;
				border-color: transparent;
				border-top-color: $primaryColor;
			}
		}
		
		div {
			padding: 25px;
		}
	}
	
}

/* ov-grid */
.ov-section {
	padding:0 !important;
	.hgroup {
		padding: 40px 0;
		margin:0 auto;
	}
}

.ov-grid {
	@include display( flex );
	@include flex-flow( row wrap );	
}

.ov-circle-item {
	@include flex ( 1 1 33.333% );
	text-align: center;
	padding: 20px 10px 60px;
	
	.img-wrap {
		width: 225px;
		margin: 0 auto 20px;
		max-width: 80%;
	}
	
	.img {
		border-radius: 50%;
		height:0;
		padding: 0 0 100%;
	}
	
	.ov-circle-title {
		font-weight: 600;
		font-size: 22px;
	}
	
	p {
		width: 275px;
		margin: 0 auto;
		max-width: 100%;
	}
	
	.button {
		margin-top:10px;
	}
	
	
}

@media screen and (max-width: 600px) {
	.ov-circle-item {
		@include flex( 0 0 100% );
		@include display( flex );
		@include align-items( center );
		@include justify-content( space-between );
		padding: 20px 15px;
		&:nth-child(odd) {
			background: rgba(0,0,0,0.1);
		}
		
		.img-wrap {
			@include order( 99 );
			margin:0;
			width: auto;
			@include flex( 0 1 30% );
		}
	}
	
	.ov-circle-content {
		text-align:left;
	}

}

@media screen and (max-width: 400px) {
	.ov-circle-item {
		.ov-circle-title {
			font-size: 16px;
		}
	}
}

.ov-item {
	@include flex( 1 1 25% );
	display: block;
	position: relative;
	overflow: hidden;
	
	div {
		height:0;
		padding:0 0 100%;
		&:after {
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			background: rgba($primaryColor,0.9);
			content:"";
			@include transform( translate3d(0,-100%,0) );
			@include transition( 0.4s all $ease-in-out-sine );
			opacity:0;
		}
	}
	
	&:nth-child(even) {
		div:after {
			@include transform( translate3d(0,100%,0) );
		}
	}
	
	&:hover {
		div:after {
			opacity:1;
			@include transform( none );
		}
	}
	
	.ov-title {
		position: absolute;
		bottom: 30px; left: 30px; right: 30px;
		background: rgba($primaryColor,0.9);
		padding: 20px;
		color: #fff;
		@include t-fa();
		@include display( flex );
		@include align-items( center );
		text-transform: uppercase;
		font-size: 20px;
		border-radius: 8px;
		line-height: 1.2;
		&:before {
			background: #fff;
			border-radius: 50%;
			font-size: 28px;
			width: 48px; height: 48px;
			line-height: 48px;
			text-align:center;
			color: $secondaryColor;
			margin-right: 20px;
			@include flex( 0 0 48px );
		}
		
		&,
		&:before {
			@include transition( 0.2s all $ease-in-out-sine );
		}
	}
	
	&:hover .ov-title {
		background: #fff;
		color: $primaryColor;
		&:before {
			background: $secondaryColor;
			color: #fff;
		}
	}
	
}

@media screen and (max-width: 1000px) {
	.ov-item { 
		@include flex( 1 1 50% ); 
		div { padding: 0 0 65%; }
	}
}

@media screen and (max-width: 599px) {
	.ov-grid { display: block; }
	
	.ov-item {
		div { padding: 0 0 45%; }
	}
}

.latest-updates {
	text-align:center;
	margin: 20px 0;
	
	.swipe-item p{
		margin: 0 auto;
		width: 560px;
		max-width: 95%;
	}
	
	.slick-list { margin-bottom: 20px; }
	
	.slick-prev,
	.slick-next {
		outline: none;
		@include t-fa-abs();
		width: 32px; height: 32px;
		border-radius: 4px;
		background: #fff;
		display: inline-block;
		margin: 3px;
		font-size: 22px;
		color: $secondaryColor;
		
		
		&:hover {
			color: #fff;
			background: $secondaryColor;
		}
	}
	
	.slick-prev:before { content: $fa-var-angle-left; }
	.slick-next:before { content: $fa-var-angle-right; }
	
}

/* content */
.content {
	position: relative;
}

@media screen and (min-width: 1110px) {
	.content-header {
		width: 600px; 
		max-width: 100%;
		position: absolute;
		padding: 20px;
		@include transform( translate3d(0,-100%,0) );
		margin: -40px 0 0 -20px;
		background: #fff;
	}
}

/* sidebar mods */
.sidebar .mod {
	margin: 0 0 20px;
}

.claim-mod {
	color: #fff;
	background: $primaryColor;
	padding: 20px;
	border-radius: 6px;
}

.acc-mod {

	border-radius: $buttonBorderRadius;
	overflow:hidden;

	.acc-item-handle {
		background: #eee;
		color: #999;
		position: relative;
		&:before { color: #999 !important; }
		&:after {
			content:"";
			position: absolute;
			right: 50px; top:0; bottom:0;
			border-right: 1px solid #999;
		}
		
	}
	
	.expanded>.acc-item-handle,
	.acc-item-handle:hover {
		background: $primaryColor;
		color: #fff;
		&:before { color: #fff !important; }
		&:after { border-color: #fff; }
	}

	.acc-item-content ul {
		margin: 0 -20px;
		a {
			display: block;
			padding: 5px 20px;
			color: $primaryColor;
			&:hover {
				background-color: $primaryColor;
				color: #fff;
			}
		}
	}
	
	.button.block {
		margin: 20px 0;
	}
	
}

.contact-mod {
	.t-fa { 
		padding: 4px;
		border-radius: $buttonBorderRadius;
		color: $secondaryColor; 
		&:before { width: 30px; }
	}
	
	a.t-fa:hover {
		background: $secondaryColor;
		color: #fff;
	}
}

/* contact page */
.contact-grid {
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( space-between );
	max-width: 1300px;
	margin: 0 auto;
}

.contact-grid-address {
	@include flex( 0 0 200px );
	margin: 0 0 20px;
}

.contact-grid-form {
	@include flex( 0 1 600px );
}

/* acc overrides */
.acc-item-content {
	padding: 20px;
}

/* location module */
.location-section { 
	.gmap {
		margin:0;
		height: 80vh;
		min-height: 300px;
		max-height: 600px;
	}
}
.location-section-title {
	.sw {
		padding-top: 20px;
		padding-bottom: 20px;
		@include display( flex );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	.title,
	.selector { margin:0; }
	
	.selector {
		background: #eee;
		position: relative;
		
		.value {
			font-weight: normal;
			text-transform: none;
		}
		
		.value,
		&:before { 
			color: #999 !important; 
			content: $fa-var-angle-down;
		}
		&:after {
			content:"";
			position: absolute;
			right: 30px; top:0; bottom:0;
			border-right: 1px solid #999;
		}
		
		&:hover {
			background: $secondaryColor;
			.value,
			&:before { color: #fff !important; }
			&:after { border-color: #fff; }
		}
		
	}
	
	@media screen and (max-width: 1000px) {
		.sw { 
			display: block; 
			text-align: center;
		}
		
		.selector { margin: 10px 0 0; }
	}
	
}

.crosbie-map-marker {
	position: absolute;
	width: 14px; height: 14px;
	border-radius:50%;
	background: $primaryColor;
	cursor: pointer;
	@include transition( 0.2s all $ease-in-out-sine );
	@include transition-property( background, transform );
	@include transform-origin( center );
	
	&.selected { 
		background: $secondaryColor; 
		@include transform( scale(1.5,1.5) );
	}
	
}

.custom-info-window { 
	position: absolute; left:0; right:0; 
	display: inline-block; 
	z-index: 10; 
	color: $bodyContentColor; 
	width: 460px; 
	max-width: 85%; 
	visibility: hidden;
	
	&.visible { visibility: visible; }
	
	.pointer{
		position: absolute; 
		left: 0; right: 0; 
		display: block; 
		width: 0; height: 0; line-height: 0; 
		content:""; 
		overflow: hidden; border: 15px solid transparent; 	
	}
	
	&.above .pointer,
	&.below .pointer { border-width: 30px 15px; }
	
	&.left .pointer,
	&.right .pointer {
		border-width: 15px 30px; 
		top: 50%; 
		margin-top: -15px; 
		left: auto; right: auto;
	}
	
	&.above { 
		margin-top: -30px; 
		.pointer { border-top-color: #fff; bottom: -59px; }
	}
	&.below { 
		margin-top: 15px; 
		.pointer { border-bottom-color: #fff; top: -59px; }
	}
	&.left { 
		margin-left: -30px; 
		.pointer { border-left-color: #fff; right: -60px; }
	}
	&.right { 
		margin-left: 30px; 
		.pointer { border-right-color: #fff; left: -60px; }
	}
	
}

.custom-info-window-content { 
	background: #fff; 
	position: relative;
	cursor: default;
	padding: 20px;
	
	.fa-close {
		position: absolute;
		top: 0; right: 0;
		width: 20px; height: 20px;
		font-size: 14px;
		color: $primaryColor;
		cursor: pointer;
		&:hover {
			background: $primaryColor;
			color: #fff;
		}
	}
	
	.if-wrap {
		@include display( flex );
		font-size: 16px;
		
		address { margin: 0 0 10px; }
		
		.sv-image {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 134px;
			width: 270px;
			@media screen and (max-width: 599px) { display: none; }
		}
	}
	
	.button { 
		margin-top: 15px;
		border-radius:0; 
		@include transition( none );
	}
	
}

/* filter section overrides */
.filter-controls {
	button { border-radius: 0; }
}

.filter-bar {
	.num {
		background: $secondaryColor;
		color: #fff;
	}
	
	.filter-controls button {
		border-radius: $buttonBorderRadius;
	}
}


.filter-items {
	.item {
		background: #fff;
		border-radius: 4px;
		padding: 15px;
		@include display( flex );
		@include justify-content( space-between );
		@include flex-flow( column nowrap );
	}
	
	a.item { 
		color: $bodyContentColor; 
		@include transition( 0.2s background $ease-in-out-sine );
		&:hover { background: #fafafa; }	
		
		&:hover .button.secondary,
		.button.secondary:hover {
			color: $secondaryColor !important;
		}
		
	}
	
	.item-title {
		color: $primaryColor;
		border-bottom: 1px solid rgba($primaryColor,0.4);
		padding: 0 0 5px;
		margin: 0 0 15px;
	}
	
	p {
		font-size: 16px;
		margin: 0 0 15px;
	}
	
}

.timeline-row {
	@include display( flex );
	border-bottom: 1px solid #fff;
}

.timeline-block {
	cursor: pointer;
	width: 25%;
	height: 400px;
	position: relative;
	border: 0 solid #fff;
	border-width: 0 1px 0 0;
	@include flex( 1 1 auto );
	@include display( flex );
	@include justify-content( center );
	@include transition( 0.2s all $ease-in-out-sine );
	
	.title { 
		font-size: 34px; 
		display: block;
	}
	&>.title-content {
		position: absolute;
		top: 50%; left: 20px; right:20px;
		text-align:center;
		@include transform( translateY(-50%) );
		@include transition( 0.2s all $ease-in-out-sine 0.4s );
		text-align:center;
	}
	
	.content {
		padding: 20px;
		text-align:center;
		position: relative;
		opacity:0;
		@include display( flex );
		@include justify-content( center );
		@include flex-flow( column nowrap );
		
		@include transition( 0.2s all $ease-in-out-sine 0s );
		
		.lazybg {
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			opacity:0.2;
		}
		
		.fa-close {
			position: absolute;
			top: 10px; right: 10px;
			font-size: 18px;
			width: 24px; height: 24px;
			color: #fff;
			display: none;
			cursor: pointer;
		}
		
	}
	
	
	&:hover {
	
		width: 50%;
	
		&>.title-content {
			opacity:0;
			top:40%;
			@include transition-delay( 0s );
		}
		
		.content {
			opacity:1;
			@include transform( none );
			@include transition-delay( 0.4s );
		}
	
	}
	
}

@media screen and (max-width: 750px) {
	.timeline-row { 
		@include flex-flow( row wrap ); 
	}
	.timeline-block {
		width: 50%;
		@include flex( 1 0 50% );
		&:hover { width: 70%; }
	}
}

@media screen and (max-width: 650px) {
	.timeline-row { display: block; }
	.timeline-block { 
		width: auto !important;
		border-width: 1px 0 0; 
		height: auto;
	}
}

.quote-form {

	.fieldset-title {
		margin: 10px 0 5px;
	}
	
	.fieldset {
		padding: 10px 10px 0;
		background: #e0e0e0;
		border-radius: 4px;
		margin: 0 0 20px;
		
		.grid {
			margin-top:0;
			margin-bottom:0;
		}
		
		&+.hgroup { margin-top: 20px; }
		
	}

	.grid .field-wrap,
	.grid input,
	.grid .selector {
		margin:0;
	}
	
	.grid input {
		line-height: 1.2;
		padding: 14px 14px 12px;
	}
	
	.field-wrap input[type=date] {
		padding: 11px 14px 10px;
	}
	
	.fieldset {
		.selector {
			margin:0;
			background: #fff;
			width:100%;
			border: 1px solid $fieldBorderColor;
			&:after {
				position: absolute;
				right: 30px; top:0; bottom:0; 
				content:"";
				border-right: 1px solid $fieldBorderColor;
			}
			&:before {
				color: $primaryColor;
				content: $fa-var-angle-down;
			}
			.value { 
				color: $fieldTextColor;
				line-height: 1.2;
				padding:13px 14px 12px;
				text-transform: none;
				font-weight:normal;
			}
			
			select:focus+.value { color: $fieldTextColor; }
			
		}
	}
	
}

.quote-tabs {

	.tab-controls {
		@include display( flex );
		margin: 20px 0;
		
		.selector { display: none; }
	}
	
	.tab-control {
		background: $primaryColor;
		@include flex( 1 1 auto );
		text-transform: uppercase;
		color: #fff;
		padding: 14px 8px;
		margin: 0 1px;
		position: relative;
		&:hover { background: darken($primaryColor,10);  }
		
		&.selected {
			&:after {
				width:0; height:0;
				content:"";
				position: absolute;
				left:0; right:0; bottom:0; 
				margin: 0 auto;
				border: solid transparent;
				border-width: 8px 16px;
				border-bottom-color: #f1f1f1;
			}
		}
		
	}
	
	@media screen and (max-width: 750px) {
		.tab-controls .selector { display: block; width: 100%;}
		.tab-control { display: none; }
	}
	
}

.call-us-wrap {
	background: darken(#eee,10);
}

.call-us {
	@include display( flex );
	@include justify-content( space-between );
	@include flex-flow( row wrap );
	font-size: 26px;
}